<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="app.name" source="app.name" />
    <springProperty scope="context" name="logging.file.path" source="logging.file.path" />

    <!-- Define the console appender with a custom log pattern -->
    <appender name="DIGEST-INTEGRATION-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[common-integration] -[%X{X-B3-TraceId:-},%X{spanId:-}] %d{HH:mm:ss.SSS} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DIGEST-INTEGRATION-FILE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.path}/${app.name}/${app.name}-integration-digest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${logging.file.path}/${app.name}/${app.name}-integration-digest.log.%d{yyyy-MM-dd_HH}
                <maxHistory>48</maxHistory>
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[common-integration] -[%X{X-B3-TraceId:-},%X{spanId:-}] %d{HH:mm:ss.SSS} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>[common-info] - [%X{X-B3-TraceId:-},%X{spanId:-}] %d{HH:mm:ss.SSS} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>[common-error] %d{HH:mm:ss.SSS} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="DIGEST-INTEGRATION" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="DIGEST-INTEGRATION-APPENDER"/>
        <appender-ref ref="DIGEST-INTEGRATION-FILE-APPENDER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="INFO-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </root>

</configuration>